{% load i18n static statici18n %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
<head>
    <title>{% trans 'homepage.title' %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% statici18n LANGUAGE_CODE %}"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
</head>
<body>
<div class="content mx-4 my-4">
    <h1 class="mx-auto" style="width: 500px;"><a href="{% url 'product:products' %}">{% trans 'homepage.heading' %}</a></h1>
    <hr>
    <div>
        {% for product in products %}
        <div class="card" style="width: 18rem;display:inline-block;">
            <img class="card-img-top" src="{% if product.image %}{{product.image.url}}{% else %}{% static 'images/noimage.svg' %}{% endif %}">
            <div class="card-body">
                <h3 class="card-title">{{product.name}}</h3>
                {% if product.description %}<p class="card-text">{{product.description}}</p>{% endif %}
                <h6 class="card-subtitle">{% trans 'model.product.price' %} - {{product.price}} €</h6>
                <h6 class="card-subtitle my-2">{% trans 'model.product.delivery_until' %} - {{product.delivery_until}}</h6>
                <a href="#" onclick="addToCart('{{product.name}}')" class="btn btn-primary">{% trans 'homepage.add_to_cart' %}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>