<!doctype html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
<head>
    <title>Webstore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="content mx-4 my-4">
    <h1 class="mx-auto" style="width: 500px;">International Online Store</h1>
    <hr>
    <div>
        {% for product in object_list %}
        <div class="card" style="width: 18rem;display:inline-block;">
            <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{product.name}}</h3>
                <p class="card-text">{{product.description}}</p>
                <h6 class="card-subtitle">Price - {{product.price}} €</h6>
                <h6 class="card-subtitle my-2">Delivery until - {{product.delivery_until}}</h6>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>